#body   {
    height: 700px;
    width: 400px;
    border: 2px solid black;
    background-color: black;
    margin-left: 20rem;
    margin-top: 2rem;
}

#station-box    {
    height: 170px;
    width: 385px;
    border: 2px solid rgb(167, 165, 165);
    margin: 5px 5px;
}

#blah   {
    color: silver;
    margin-left: 20px;
    margin-top: 2px;
}

#green  {
    height: 25px;
    width: 350px;
    border: 1px solid green;
    margin-left: 20px;
}

#orange  {
    height: 25px;
    width: 350px;
    border: 1px solid orange;
    margin-left: 20px;
    margin-top: 3px;
}

#yellow  {
    height: 25px;
    width: 350px;
    border: 1px solid yellow;
    margin-left: 20px;
    margin-top: 3px;
}

#more-blah  {
    color: silver;
    margin-left: 20px;
    margin-top: 3px;
}

/* ---------------------------------------------------- */
#dial-boxes {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}

#dial-box-1 {
    height: 110px;
    width: 129px;
    background-color: silver;
    border: 1px solid black;
    border-right: 1px solid black;
}

#on-off {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 35px;
    font-size: 12px;
}

#dial-1   {
    height: 75px;
    width: 75px;
    border: 2px solid black;
    border-radius: 50%;
    margin: -5px 10px 10px 20px;
}

#dial-box-2 {
    height: 110px;
    width: 256px;
    background-color: silver;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#dial-2, #dial-3    {
    height: 75px;
    width: 75px;
    border: 2px solid black;
    border-radius: 50%;
    margin-top: 20px;
}

.dial-labels    {
    margin-top: -15px;
    margin-left: 10px;
    font-size: 12px;
}

/* -------------------------------------------------------------------- */

#speaker-box    {
    height: 380px;
    width: 385px;
    border: 2px solid silver;
    margin: 5px 5px;
    background-color: silver;
}

.speaker-row    {
    border: 2px solid black;
    height: 120px;
}